body
{
    margin: 0;
    padding: 0;
}

.navbar1
{
    width: 100%;
    height: 200px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rond1
{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    border-radius: 50%;
}

.rond2
{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50%;
}

.navbar2
{
    width: 100%;
    height: 200px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carré
{
    width: 150px;
    height: 150px;
    background-color: black;
    margin: 10px;
    border-radius: 10%;

}