.navbar
{
    width: 100%;
    height: 200px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body
{
    margin: 0;
    padding: 0;
}

.rond1
{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    border-radius: 50%;
}

.rond2
{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50%;
}